---
import SectionContainer from "./SectionContainer.astro"


---

<SectionContainer>
  <div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 gap-4">
    <a
      href=''
      target="_blank"
      class:list={[
        "aspect-square size-full rounded-2xl overflow-hidden relative group",
        "md:aspect-[16/8] md:row-span-1 h-full" // Esto lo sacaria de className
      ]}
    >
      <img
        src='/bento-tax.jpg'
        alt=""
        class:list={[
          "transition-all size-full duration-500 ease-in-out group-hover:scale-105 group-hover:blur-sm object-cover",
        ]}
      />
      <div class="absolute inset-0 p-4 flex flex-col h-full justify-between items-start z-10">
        <span class="font-medium text-3xl sm:text-5xl md:text-3xl lg:text-4xl max-w-64 md:max-w-72 sm:max-w-96 text-left text-pretty text-white tracking-separated pr-3 lg:max-w-80">
          {'Tasaciones sin cargo'}
        </span>
        <p class="opacity-0 duration-500 group-hover:opacity-100 transition-opacity mx-auto font-medium text-lg md:max-w-72 sm:max-w-96 text-right text-pretty text-gray-300 tracking-separated pr-3 lg:max-w-80">
          Lorem ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet
        </p>
      </div>
    </a>
    
    <a
      href=''
      target="_blank"
      class:list={[
        "aspect-square size-full rounded-2xl overflow-hidden relative group",
        "md:aspect-[16/8] md:row-span-1 h-full" // Esto lo sacaria de className
      ]}
    >
      <img
        src='/bento-house-in-hands.jpg'
        alt=""
        class:list={[
          "transition-all size-full duration-500 ease-in-out group-hover:scale-105 group-hover:blur-sm object-cover",
        ]}
      />
      <div class="absolute inset-0 p-4 flex flex-col justify-start items-start z-10 gap-5">
        <span class="font-medium text-3xl sm:text-5xl md:text-3xl lg:text-4xl max-w-64 md:max-w-72 sm:max-w-96 text-left text-pretty text-white tracking-separated pr-3 lg:max-w-80">
          {'Valoramos tu propiedad'}
        </span>
        <p class="opacity-0 duration-500 group-hover:opacity-100 transition-opacity font-medium text-lg md:max-w-72 sm:max-w-96 text-left text-pretty text-gray-300 tracking-separated pr-3 lg:max-w-80">
          Lorem ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet
        </p>
      </div>
    </a>

    <a
      href=''
      target="_blank"
      class:list={[
        "aspect-square size-full rounded-2xl overflow-hidden relative group",
        "md:aspect-[16/8] md:row-span-2 h-full" // Esto lo sacaria de className
      ]}
    >
      <img
        src='/bento-key.jpg'
        alt=""
        class:list={[
          "transition-all size-full duration-500 ease-in-out group-hover:scale-105 group-hover:blur-sm object-cover",
        ]}
      />
      <div class="absolute top-0 p-4 flex flex-col h-full justify-between items-end z-10">
        <span class="font-medium text-3xl sm:text-5xl md:text-3xl lg:text-4xl max-w-64 md:max-w-72 sm:max-w-96 text-right text-pretty text-white tracking-separated pr-3 lg:max-w-80">
          {'Tasaciones sin cargo'}
        </span>
        <p class="opacity-0  duration-500 group-hover:opacity-100 transition-opacity font-medium text-lg md:max-w-72 sm:max-w-96 text-left text-pretty text-gray-300 tracking-separated pr-3 lg:max-w-80">
          Lorem ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet
        </p>
      </div>
    </a>

    <a
      href=''
      target="_blank"
      class:list={[
        "aspect-square size-full rounded-2xl overflow-hidden relative group",
        "md:aspect-[16/8] md:col-span-2 md:row-span-1 h-full" // Esto lo sacaria de className
      ]}
    >
      <img
        src='/bento-living.webp'
        alt=""
        class:list={[
          "transition-all size-full duration-500 ease-in-out group-hover:scale-105 group-hover:blur-sm object-cover",
        ]}
      />
      <div class="absolute bottom-0 p-4 flex flex-col h-full justify-between items-start z-10">
        <p class="opacity-0  duration-500 group-hover:opacity-100 transition-opacity font-medium text-lg md:max-w-72 sm:max-w-96 text-left text-pretty text-gray-300 tracking-separated pr-3 lg:max-w-80">
          Lorem ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet ipsum sit dolor amet
        </p>
        <span class="font-medium text-3xl sm:text-5xl md:text-3xl lg:text-4xl max-w-64 md:max-w-72 sm:max-w-96 text-left text-pretty text-white tracking-separated pr-3 lg:max-w-80">
          {'Encontrá la casa de tus sueños'}
        </span>
      </div>
    </a>
  </div>
</SectionContainer>