---
import properties from '../../mock/properties.json'
import BentoInfo from './BentoInfo.astro'
import GridCard from "./GridCard.astro"
---

<section>
  <BentoInfo />
  <GridCard items={properties} >
</section>